@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --header-height: 3rem;
  --body-font: 'Poppins', sans-serif;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem ;
  --mb-3: 3rem; 

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
.dark{
  background-color: #333;
  
}
.btn1{
  font-size: 1.4rem;
  color: rgb(216, 210, 210);
}
.btn2{
  font-size: 1.4rem;
  color: rgb(87, 86, 86);
}

body{
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: 1rem;
  /* background: #fcfafa; */
  /* color: #333; */
}

a{
  color: rgb(122, 115, 115);
  text-decoration: none;
  list-style: none;
}

li{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid{
  display: grid;
  gap: 1.5rem;
}
.header{
  width: 100%;
  position: fixed;
  left: 0;
  z-index: var(--z-fixed);
  /* background-color: #fff; */
}

.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,.nav_toggle{
  color: rgb(88, 86, 86);
  font-size: 1.5rem;
  font-weight: 500;
}
.nav_logo:hover{
  color: #743ff1;
}
.nav_toggle{
  font-size: 1.1rem;
  cursor: pointer;
}
.nav_toggle:hover{
  color: #743ff1;
}

.nav_btns{
  display: flex;
  align-items: center;
}
.theme-change{
  font-size: 1.25rem;
  color: #333;
  margin-right: var(--mb-1);
  cursor: pointer;
}
.theme-change:hover{
  color: #743ff1;
}

@media screen and (max-width: 767px){

  .header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
  }
 
 .nav_menu{
   position: fixed;
   bottom: -100% ;
   left: 0;
   width: 100%;
   background-color: #fff;
   padding: 2rem 1.5rem 4rem;
   box-shadow: 0 -1px 4px rgba(0,0,0,.15);
   border-radius: 1.5rem 1.5rem 0 0;
   transition: .3s;
 }
 .show_menu{
   bottom: 0;
 }


 .nav_list{
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
 }

 .nav_link{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 15px;
   color: rgb(102, 100, 100);
   font-weight: 600;
 }
 .nav_link:hover{
   color: #743ff1;
 }

 .nav_icon{
   font-size: 1.4rem;
 }

 .nav_close{
   position: absolute;
   right: 1.3rem;
   bottom: .5rem;
   font-size: 1.5rem;
   cursor: pointer;
   color: rgb(95, 93, 93);
 }
 .nav_close:hover{
   color:#743ff1;
 }
 
 /* .show-menu{
   bottom: 0;
 } */
}

body.dark-theme{
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
}

@media screen and (min-width: 768px){

  .container{
    margin-left: auto;
    margin-right: auto;
  }
  body{
    margin: 0;
  }
  .header{
    top: 0;
    bottom:initial;
    padding: 1.5rem 1rem;
  }
  .nav{
    height: calc(var(--header-height)+1.5rem);
    column-gap: 1rem;
  }
  .nav_icon,.nav_close,.nav_toggle{
    display: none;
  }
  .nav_list{
    display: flex;
    column-gap: 2rem;
  }
  .nav_link:hover{
    color: #743ff1;
  }
  .nav_menu{
    margin-left: auto;
  }
}



